/* variables ----------------------------------------------------------------------------------------------------*/
:root {
  --navy-blue: #0076a9;
  --navy-dblue: #022a3a;
  --nav-hover: #b4c2c8;
  --off-white: #f3f5f8;
  --white: #fff;
}

/* body -------------------------------------------------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  background-color: var(--off-white);
}

body:not(.sidebar-active) .nav-item:hover {
  background-color: var(--navy-blue);
}

/* Flexbox containers -------------------------------------------------------------------------------------------*/
.container-body {
  display: flex;
}

.container-sidebar {
  background-color: #fff;
  color: #fff;
  width: 80px;
  height: 100vh;
  transition: all 0.3s;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-main-section {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 1010px;
  height: 872x;
}

.section-header {
  display: flex;
  height: 72px;
  padding-top: 26px;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
}

/* Content Boxes -------------------------------------------------------------------------------------------*/
.content-box,
.content-box-2 {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 10px;
  background-color: var(--white);
  border-radius: 14px;
}

.content-box {
  width: 420px;
  height: 374px;
}

.content-box-2 {
  width: 884px;
  height: 374px;
}

.content-box-half {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 10px;
	background-color: none;
	
  }

  .box-half-top,
  .box-half-bottom{
	display: flex;
	padding: 14px;
	width: 420px;
  	height: 164px;
	background-color: var(--white);
	border-radius: 14px;
  }


  .box-half-top {
	margin-bottom: 12px;
  }





.h3-container {
  padding-left: 18px;
  margin: 10px 0 10px 0;
}

/* Font Classes -------------------------------------------------------------------------------------------*/
h1 {
  font-family: "Rubik", Arial, sans-serif;
  text-align: left;
  color: var(--navy-dblue);
  font-size: 34px;
  font-weight: 600;
  padding-left: 10px;
}

h2 {
  font-family: "Roboto", Arial, sans-serif;
  color: var(--navy-dblue);
  text-align: left;
  font-size: 38px;
  font-weight: 320;
}

h3 {
  font-family: "Roboto", Arial, sans-serif;
  color: var(--navy-dblue);
  text-align: left;
  font-size: 20px;
  font-weight: 500;
}

/* Sidbar -------------------------------------------------------------------------------------------*/
.container-sidebar {
  overflow: visible;
  z-index: 2;
}

.container-sidebar.active {
  width: 186px;
}

.container-sidebar:not(.active) h1,
.container-sidebar:not(.active) .container-sidebar a,
.container-sidebar:not(.active) .text-div {
  display: none;
}

.container-sidebar:not(.active) .circle {
  visibility: visible;
}

.container-sidebar ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.container-sidebar li {
  padding: 10px;
}

.container-sidebar a {
  font-family: "Roboto", Arial, sans-serif;
  color: var(--navy-dblue);
  text-decoration: none;
  display: flex;
  height: 50px;
  border-radius: 6px;
  white-space: nowrap;
  font-size: 13px;
}

.container-sidebar a.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-sidebar a:hover {
  background-color: var(--nav-hover);
}

.h1-container {
  display: flex;
  align-items: center;
  height: 120px;
  width: 168px;
}

.circle-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
}

.text-div {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 130px;
}

.toggle-button {
  z-index: 3;
  display: block;
  border: none;
  padding: 10.5px 12px;
  cursor: pointer;
  position: absolute;
  top: 12%;
  right: -24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e7ebeb;
  border-radius: 50px;
}

#navArrow {
  font-size: 24px;
  font-weight: bold;
}

#navArrow:not(.active) {
  transition: all 0.3s;
  transform: rotate(0);
}

#navArrow.active {
  transition: all 0.3s;
  transform: rotate(180deg);
}

.nav-item.active {
  background-color: var(--navy-blue);
  color: #fff;
  width: 100%;
}

body:not(.sidebar-active) .nav-item:hover {
  background-color: var(--nav-hover);
}

/* Circle styling -------------------------------------------------------------------------------------------*/
.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid var(--navy-dblue);
  border-radius: 50%;
}

.nav-item:focus .circle {
  margin: 0;
}

.container-sidebar .nav-item .circle {
  margin: 0;
}

/* Active circle styling */
.nav-item.active .circle {
  border: 2px solid #fff;
}

/* Media Queries 768px -------------------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  .sidebar.active {
    width: 0;
  }
}
